#.gitignore

venv
.vscode
*node_modules/*
*.log
*node/node_modules/*
# Ignore Python bytecode files
# Ignore virtual environment directories
# ignore cashe
# Python cache
*.pyc
*.pyo

# System cache
.cache/
*.log
*.tmp
.DS_Store
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# If you want to ignore all `migrations/__pycache__/` specifically:
**/migrations/__pycache__/