services:
  db:
    image: postgres:16
    container_name: postgres_db
    env_file:
      - ./.env
    restart: always
    environment:
      POSTGRES_DB: "${DB_NAME}"
      POSTGRES_USER: "${DB_USER}"
      POSTGRES_PASSWORD: "${DB_PASSWORD}"
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $DB_USER -d $DB_NAME || exit 1" ]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s

  backend:
    build:
      context: ./osmBack
      dockerfile: Dockerfile
    container_name: backend
    command: python manage.py runserver 0.0.0.0:8000
    restart: always
    env_file:
      - ./osmBack/.env
    volumes:
      - ./osmBack:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "8000:8000"
    networks:
      - app-network
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: ./osmFront
      dockerfile: Dockerfile
      target: development
      args:
        NEXT_PUBLIC_API_BASE: "http://localhost:8000"
    container_name: frontend
    command: npm run dev
    restart: always
    volumes:
      - ./osmFront:/app
      - /app/node_modules
      - /app/.next
    ports:
      - "3000:3000"
    networks:
      - app-network

volumes:
  postgres_data:
  static_volume:
  media_volume:
  certbot_certs:
    external: true

networks:
  app-network:
    driver: bridge
