services:
  db:
    image: postgres:16
    container_name: optics_db
    env_file:
      - ./.env
    restart: always
    environment:
      POSTGRES_DB: "${DB_NAME}"
      POSTGRES_USER: "${DB_USER}"
      POSTGRES_PASSWORD: "${DB_PASSWORD}"
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - optics_postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $DB_USER -d $DB_NAME || exit 1" ]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s

  backend:
    build:
      context: ./osmBack
      dockerfile: Dockerfile
    container_name: optics_backend
    # command: python manage.py runserver 0.0.0.0:8000 # Removed to use entrypoint.sh default (gunicorn)
    restart: always
    env_file:
      - ./osmBack/.env
    environment:
      DB_HOST: optics_db
    volumes:
      - ./osmBack:/app
      - optics_static_volume:/app/staticfiles
      - optics_media_volume:/app/media
    expose:
      - "8000"
    networks:
      - app-network
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: ./osmFront
      dockerfile: Dockerfile
      target: runner
      args:
        NEXT_PUBLIC_API_BASE: "https://osmbeta.cloud/api"
    container_name: optics_frontend
    command: node server.js
    restart: always
    expose:
      - "3000"
    networks:
      - app-network

volumes:
  optics_postgres_data:
    name: optics_postgres_data
  optics_static_volume:
    name: optics_static_volume
  optics_media_volume:
    name: optics_media_volume
  certbot_certs:
    external: true

networks:
  app-network:
    name: osm_shared_network
    external: true
