services:
  db:
    image: postgres:16
    container_name: postgres_db
    env_file:
      - ./.env
    restart: always
    environment:
      POSTGRES_DB: "${DB_NAME}"
      POSTGRES_USER: "${DB_USER}"
      POSTGRES_PASSWORD: "${DB_PASSWORD}"
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $DB_USER -d $DB_NAME || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s
      
  backend:
    build: 
      context: ./osmBack
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    env_file:
      - ./osmBack/.env
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    expose:
      - "8000"
    networks:
      - app-network
    depends_on:
      db:
        condition: service_healthy
  
  frontend:
    build:
      context: ./osmFront
      dockerfile: Dockerfile
    container_name: frontend
    restart: always
    expose:
      - "80"
    networks:
      - app-network
  
  # nginx:
  #   image: nginx:stable-alpine
  #   container_name: nginx_reverse_proxy
  #   restart: always
  #   ports:
  #     - "80:80"
  #     - "443:443"
  #   volumes:
  #     - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
  #     - static_volume:/staticfiles:ro
  #     - media_volume:/media:ro
  #     - certbot_certs:/etc/letsencrypt:ro
  #   networks:
  #     - app-network
  #   depends_on:
  #     - backend
  #     - frontend

volumes:
  postgres_data:
  static_volume:
  media_volume:
  certbot_certs:
    external: true

networks:
  app-network:
    driver: bridge