@layer components {
  .header {
    @apply z-30 flex items-center justify-between w-full p-1 pl-2 pr-2 bg-header text-button-text;
  }

  .header-select {
    @apply p-2 transition-colors duration-200 rounded bg-header text-button-text;
  }

  .nav {
    @apply flex items-center justify-between w-full px-4 py-2 shadow-md bg-elevated text-main;
  }

  .nav-link {
    @apply p-2 transition-colors duration-200 text-main;
  }

  .nav-link:hover {
    @apply bg-elevated   text-primary rounded-lg;
  }

  .footer {
    @apply px-4 py-10 mt-10 shadow-md md:px-10 bg-elevated text-main;
  }

  .footer-content {
    @apply px-4 mx-auto text-sm text-center;
  }

  .main {
    @apply w-full min-h-screen p-6 mx-auto mt-18 md:mt-24 space-y-4 lg:w-9/10;
  }

  .hr {
    @apply w-3/4 my-4 text-primary;
  }

  .btn {
    @apply items-center gap-2 px-4 py-2 text-sm font-medium transition-all rounded-md bg-button-bg text-button-text cursor-pointer;
  }
  .btn:hover {
    @apply hover:bg-primary;
  }

  .btn-danger {
    @apply bg-danger text-button-text;
  }
  .btn-success {
    @apply bg-success text-button-text;
  }
  .btn-info {
    @apply bg-info text-button-text;
  }
  .btn-warning {
    @apply text-white bg-yellow-500;
  }
  .btn-cancel {
    @apply text-white bg-gray-400;
  }

  .input-text,
  .select,
  .select__control {
    @apply w-full px-3 py-2  rounded-md focus:outline-none focus:ring-2 focus:ring-primary border border-border-main;
  }

  .input-disabled {
    @apply text-gray-500 bg-gray-200 cursor-not-allowed;
  }

  .input-checkbox {
    @apply w-4 h-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500;
  }

  .select__option {
    @apply cursor-pointer bg-header hover:bg-primary;
  }

  .main-container {
    @apply flex flex-col w-full gap-4 md:flex-row;
  }
  .container-h {
    @apply max-w-screen-md px-4 ml-2 md:ml-2;
  }
  .head {
    @apply flex flex-wrap items-center justify-between p-4;
  }
  .card-continear {
    @apply grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3;
  }

  .card {
    @apply relative
    p-4 md:p-6 
    border border-border-main 
    rounded-2xl 
    shadow-sm 
    bg-elevated 
    text-main
    transition-all duration-300 ease-in-out 
    hover:shadow-lg        
    hover:bg-elevated/95   
    active:scale-[0.98];
  }

  .card-button {
    @apply flex items-center gap-2 bg-surface hover:bg-primary/80 hover:text-white cursor-pointer;
  }


  .card-body {
    @apply text-secondary;
  }
  .btn-card {
    @apply flex flex-row gap-2 mt-4 text-sm;
  }

  .error-text {
    @apply mt-1 text-sm text-danger;
  }
  .title {
    @apply text-xl font-bold capitalize text-primary;
  }
  .title-1 {
    @apply mb-2 text-lg font-bold capitalize text-main;
  }
  .label {
    @apply block mb-1 text-sm font-medium text-main;
  }
  .label-bold {
    @apply font-bold min-w-36 inline-block;
  }

  .rs__control {
    @apply px-2 py-1 border rounded-md shadow-sm focus:outline-none focus:ring-2;
    border-color: var(--color-border-main);
    @apply focus:ring-primary border-border-main;
  }

  .rs__option {
    @apply cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white;
  }
  .rs__menu {
    @apply mt-1 border rounded-md shadow-lg;
  }
  .rs__single-value {
    @apply text-main;
  }
  .rs__placeholder {
    @apply text-secondary;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer utilities {
  @media print {
    .no-print {
      display: none !important;
    }
    body {
      background: white;
      color: black;
    }
    .container {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
  }
}
