@import "tailwindcss";

/* app/globals.css أو src/app/globals.css */

/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */
@custom-variant dark (&:where(.dark, .dark *));


.btn-primary {
    @apply px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700;
  }
  
  .card {
    @apply p-6 shadow-md rounded-2xl bg-white;
  }
  
.input-base {
    @apply w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500;
}
.label-base {
    @apply block text-sm font-medium mb-1 capitalize;
}
.input-radio {
    @apply w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.error-text {
    @apply text-red-500 text-sm;
}


.primary {
    @apply bg-blue-600 hover:bg-blue-700 text-white;
}
.secondary {
    @apply bg-gray-300 hover:bg-gray-400 text-black;
}
.danger {
    @apply bg-red-600 hover:bg-red-700 text-white;
}

.body-background{
    @apply bg-blue-100 dark:bg-gray-500;
}

@theme {
    /* 1. الخطوط (Fonts) */
    --font-family-display: "Satoshi", sans-serif;
  
    /* 2. نقاط التوقف (Breakpoints) */
    --screen-3xl: 1920px;
  
    /* 3. الألوان (Colors) */
    --color-avocado-100: oklch(0.99 0 0);
    --color-avocado-200: oklch(0.98 0.04 113.22);
    --color-avocado-300: oklch(0.94 0.11 115.03);
    --color-avocado-400: oklch(0.92 0.19 114.08);
    --color-avocado-500: oklch(0.84 0.18 117.33);
    --color-avocado-600: oklch(0.53 0.12 118.34);
  
    /* 4. دوائر التوقيت (Easing Functions) */
    --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  }
  
  /* (اختياري) إذا كنت تريد تطبيق الخط الافتراضي */
  @layer base {
    html {
      font-family: var(--font-family-display);
    }
  }
/* 

  <div class="font-display text-avocado-500 max-3xl:px-4 transition-all ease-fluid">
  <!-- ... -->
</div> */