@import "tailwindcss";

/* app/globals.css أو src/app/globals.css */

/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --font-main: 'Mergan', sans-serif;
  --font-alt: 'Cairo', sans-serif;

  --color-primary: #4f46e5;
  --color-secondary: #f59e0b;
  --color-danger: #dc2626;
  --color-success: #22c55d;
  --color-info: #22c55d;


  --bg-body: #f9fafb;
  --text-main: #111827;
}

@layer base {
    html {
      font-family: var(--font-family-display);
    }
    h1, h2, h3, h4, h5, h6 {
      font-weight: 700;
    }
}
/* 🌍 2. Global styles */
body {
  font-family: var(--font-main);
  background-color: var(--bg-body);
  color: var(--text-main);
}


.container {
  @apply max-w-screen-xl mx-auto px-4;
}


  
.card {
    @apply p-6 shadow-md rounded-2xl bg-white;
    
  }
  
.input-base {
    @apply w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500;
}
.label-base {
    @apply block text-sm font-medium mb-1 capitalize;
}
.input-radio {
    @apply w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.error-text {
    @apply text-red-500 text-sm;
}


/* 🧩 3. Reusable Components */
.btn {
  @apply px-4 py-2 rounded font-semibold transition;
}

.btn-primary {
  @apply bg-[var(--color-primary)] text-white hover:opacity-90;
}

.btn-secondary {
  @apply bg-[var(--color-secondary)] text-white hover:opacity-90;
}

.btn-danger {
  @apply bg-[var(--color-danger)] text-white hover:opacity-90;
}


.body{
    @apply bg-[var(--bg-body)] dark:bg-gray-800 dark:text-white;
}




.nav{
  @apply bg-white shadow px-4 py-3 flex justify-between items-center dark:bg-gray-900 dark:text-white;
}
.header{
  @apply bg-gray-100 py-4 shadow-md dark:bg-gray-800 dark:text-white;
}

.footer{
  @apply bg-gray-100 mt-10 py-4 shadow-md dark:bg-gray-900 dark:text-white;
}

.card-continear{
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4;
}

.cards{
  @apply bg-white shadow-md p-4 rounded-md dark:bg-gray-700 dark:text-white;
}

.card-header{
  @apply  text-lg font-bold capitalize text-gray-600 dark:text-gray-100;
}
.card-body{
  @apply text-sm text-gray-600 dark:text-gray-200;
}

.btn-card{
  @apply flex space-x-2 text-sm mt-4;
}